/* Оформление вопросов */

.question.sort .answer {
}

.question.sort td.marker {
    width: 3rem;
    text-align: center;
}

.linker {
    margin-left: -2.5rem;
    margin-top: -.15rem;
    float: left;
    /* background-color: #FCFC85; */
    /* background-color: #FEEDBA; */
    background-color: #fff;
    padding: 0.15rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid #dee2e6;
}

.linker.checked {
    /* background-color: #C2E5CB; */
}

.linker i.fa-chain-broken {
    display: inline-block;
}

.linker i.fa-chain {
    display: none;
}

.linker.checked i.fa-chain-broken {
    display: none;
}

.linker.checked i.fa-chain {
    display: inline-block;
}

.question.sort .answer,
.question.s-sort .answer,
.question.m-sort .answer {
    margin-right: 2rem;
    /* float: left; */
}

.qm-draggable .mover,
.meta .marker {
    width: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #dee2e6;
    float: right;
}

.qm-draggable.reflexion {
    opacity: 0.3;
}

.qm-draggable.avatar {
    background-color: #fff;
    border: solid 2px #0062cc;
    opacity: 0.8;
}

.qm-draggable.landed {
    /* box-shadow: inset 0 0 0 25px #53a7ea; */
    animation: swing .2s ease;
}

.qm-draggable.landed:hover {
    box-shadow: none;
}

.qm-draggable.target {
    opacity: 0.3;
    background-color: yellow;
    transition-duration: .2s;
}

.qm-draggable.avatar .mover,
.qm-draggable:hover .mover {
    background-color: #0062cc;
    color: #fff;
    transition-duration: .2s;
}

.qm-draggable:hover {
    box-shadow: 0 0 5px;
    transition-duration: .2s;
}


@keyframes swing
{
    0%
    {
        opacity: 0;
        box-shadow: inset 0 0 0 1rem #0062cc;
    }
    100%
    {
        opacity: 1;
        box-shadow: inset 0 0 0 0 #0062cc;
    }
}